.header
  position: fixed
  width: 100%
  font-family: 'TraktirNormal', sans-serif
  color: $text
  z-index: 2
.hide
  display: none
.mobile-mnu.active
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  width: 100%
  height: 100vh
  top: 0
  left: 0
  z-index: 5
  background-color: rgba(227, 160, 87, 0.7686274509803922)
  text-transform: uppercase
  letter-spacing: 5px
  ul
    margin: 0
    padding: 0
    li
      padding: 10px
      a
        color: #ffffff
        font-size: 35px

.top-nav
  display: flex
  justify-content: space-between
  align-items: center
  margin: 40px 3%
  text-transform: uppercase
  height: 100px
  .logo
    font-size: 35px
    text-align: center
    a
      opacity: 1
  a
    color: inherit
    opacity: 0.5
    transition: all 0.25s ease
    &:hover
      opacity: 1
      text-decoration: none
      color: $accent
  .top-nav-left,
  .top-nav-right
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline-block
      margin: 0 40px
      font-size: 18px
      letter-spacing: 5px
      position: relative

      a:hover::before
        content: ''
        position: absolute
        height: 1px
        background-color: $accent
        width: 100%
        bottom: -20px
.mobile-mnu
  display: none
  position: absolute
  ul
    margin: 0
    padding: 0
    list-style: none
    text-align: center
.bt-mnu
  position: relative
  z-index: 10
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before
    background-color: $text
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
    background-color: $text
    height: 2px
    transform: translate(-10px, 0)
  .hamburger-inner
    transform: translate(10px, 0)
  .hamburger-box
    height: 8px

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  .top-nav
    .top-nav-left li,
    .top-nav-right li
      margin: 0 10px
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)
  .top-nav
    margin: 30px 3%
    height: 50px
    .logo
      padding-right: 10px
      font-size: 30px
      a
        line-height: 66px
  .top-nav-left,
  .top-nav-right
    display: none
  .share
    position: absolute
    right: 10%



// ≥576px
+media-breakpoint-down(xs)
+media-breakpoint-up(md)
  .bt-mnu
    display: none