@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #4D2D1E
	&::before
		content: ""
		position: fixed
		top: 0
		height: calc(100vh + 30px)
		left: 0
		right: 0
		z-index: -11
		background: url(../img/back-page.jpg) no-repeat top
		background-size: cover
		background-attachment: fixed
	&::-webkit-scrollbar-track
		opacity: 0
	&::-webkit-scrollbar
		width: 0
		background-color: rgba(6,6,6,0)
	&::-webkit-scrollbar-thumb
		border-radius: 10px
		background-color: rgba(6,6,6,0)
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
a
	text-decoration: none
	color: #ffffff
	&:hover
		text-decoration: none
b, strong
	font-weight: bold
.overflow
	overflow: hidden
.loader
	background: none repeat scroll 0 0 #FFFFFF
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999

.loader_inner
	background: url(../img/preloader.gif) no-repeat center #FFFFFF
	background-size: cover
	height: 256px
	width: 256px
	left: 50%
	top: 50%
	margin-top: -128px
	margin-left: -128px
	position: absolute

.copyright
	position: fixed
	bottom: 3%
	left: 20px
	opacity: 0.3
	padding-left: 15px
.copyright.active
	z-index: 10
	opacity: 1
	padding-left: 20px
.video-bg
	position: fixed
	top: 50%
	left: 50%
	min-width: 100%
	min-height: 100%
	width: auto
	height: auto
	z-index: -10
	transform: translateX(-50%) translateY(-50%)!important
	background: url('../img/back.jpg') no-repeat
	background-size: cover
	transition: 1s opacity
.content
	padding: 50px 10px
	width: 100%
	min-height: 85vh
	display: flex
	align-items: center
	overflow: hidden

.owl-carousel
	.owl-stage-outer
		overflow: visible


h1, h2, h3, h4, h5, h6
	text-transform: uppercase
	font-family: 'TraktirNormal', sans-serif
	letter-spacing: 5px


@import "components/**/*"
@import "media" // Always at the end
